<%= stylesheet_link_tag "layout/form",   media: "all" %>
<%= stylesheet_link_tag "layout/status", media: "all" %>

<div class="container-form">
  <div class="box box-mine_shaft">
    <div class="box-header">
      <label><strong>Accounts Home</strong></label>
      <%= image_tag("logo/logo-webgoal.png", alt: "Accounts", class: "responsive" ) %>
    </div>

    <div class="box-body">
      <p><%= current_user&.email %></p>

      <div class="box-button">
        <p><%= link_to "<i class='fas fa-sign-in-alt fa-fw'></i> Entrar".html_safe,    new_user_session_path,                      class: "btn-webgoal btn-atlantis",     data: { disable_with: "Entrando..." } %></p>
        <p><%= link_to "<i class='fas fa-sign-out-alt fa-fw'></i> Sair".html_safe,     destroy_user_session_path, method: :delete, class: "btn-webgoal btn-pizazz",       data: { disable_with: "Saindo..." } %></p>
        <p><%= link_to "<i class='fas fa-mobile-alt fa-fw'></i> Aplicações".html_safe, oauth_applications_path,                    class: "btn-webgoal btn-science_blue", data: { disable_with: "Aplicações..." } %></p>
      </div>
    </div>
  </div>
</div>
