<!DOCTYPE html>
<html>
  <head>
    <title>Client App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1, user-scalable=no" />

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render "element/toastr" %>

    <section>
      <%= yield %>
    </section>
  </body>
</html>
